
{% extends "base.html" %} {% block title %}External resources{% endblock %} {% block content%}
<h1 align="center">External resources</h1>

<html>
<body>

<h2>How to access further help...</h2>
<p> Here, you can manage and stay on top of your wellbeing. Click the links below to access help, guidance and tips on specific issues.</p>

<p><a href="https://www.healthline.com/health/mental-health/motivation-work-tasks" target="_blank">Work motivation</a></p>

<p> <a href="https://www.thehealthy.com/exercise/exercise-motivation/" target="_blank">Exercise tips</a></p>

<p> <a href="https://www.helpguide.org/articles/mental-health/building-better-mental-health.htm" target="_blank">Better mental health tips</a></p>

<p> <a href="https://www.helpguide.org/articles/depression/coping-with-depression.htm" target="_blank"> Coping with depression</a></p>

<p> <a href="https://www.mayoclinic.org/healthy-lifestyle/adult-health/in-depth/burnout/art-20046642" target="_blank">Dealing with burnout at work</a></p>

<p> <a href="https://www.webmd.com/mental-health/features/beat-loneliness" target="_blank">Tips on beating loneliness</a></p>

<p> <a href="https://www.healthline.com/health/how-to-calm-anxiety" target="_blank">How to calm anxiety</a></p>

<p> <a href="https://www.helpguide.org/articles/sleep/getting-better-sleep.htm" target="_blank">Tips on getting a good nights sleep</a></p>

<p> <a href="https://www.nhs.uk/live-well/eat-well/eight-tips-for-healthy-eating/" target="_blank">Tips on healthy eating</a></p>

<p> <a href="https://www.verywellmind.com/how-to-boost-your-self-confidence-4163098" target="_blank">How to boost your self confidence</a></p>


</body>
</html>

 <style/>
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    transition: 0.5s;
    transition-timing-function: ease-in;
    background-image: linear-gradient(to right bottom, #ed4264a8, #ffedbca8);
  }

</style>
{% endblock %}